.App{
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  width: 95vw;
  /*height: 95vh;*/
  /*border: 2px solid black;*/

  align-items: center;
  padding-top: 8rem;
}

/*.App-child{*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*}*/

.App-Content {
  font-family: 'Mooli', sans-serif;
  /*height: 80vh;*/
  display: flex;
  /*flex-direction: row;*/
  justify-content: space-evenly;
  /*border: 2px solid red;*/
  width: 90vw;
}

